altgraph==0.17
appdirs==1.4.4
cffi==1.14.5
click==7.1.2
codex-engine-pyqt==0.0.8
Flask==1.1.2
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.2
pefile==2019.4.18
prompt-toolkit==1.0.14
pycparser==2.20
Pygments==2.8.1
PyInquirer==1.0.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pynput==1.7.3
pyserial==3.5
PySide2==5.15.2
pywin32-ctypes==0.2.0
QtAwesome==1.0.2
QtPy==1.9.0
qtstrap==0.0.18
regex==2021.3.17
shiboken2==5.15.2
six==1.15.0
sounddevice==0.4.1
wcwidth==0.2.5
Werkzeug==1.0.1
